apiVersion: v1
kind: Service
metadata:
  name: dhakacart-backend-service
  namespace: dhakacart
  labels:
    app: dhakacart-backend
    component: backend
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "5000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: dhakacart-backend
  sessionAffinity: None