apiVersion: v1
kind: Service
metadata:
  name: dhakacart-frontend-service
  namespace: dhakacart
  labels:
    app: dhakacart-frontend
    component: frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: dhakacart-frontend
  sessionAffinity: None