apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: dhakacart-frontend-vpa
  namespace: dhakacart
  labels:
    app: dhakacart-frontend
    component: frontend
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: dhakacart-frontend
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: frontend
      minAllowed:
        cpu: 50m
        memory: 64Mi
      maxAllowed:
        cpu: 500m
        memory: 512Mi
      controlledResources: ["cpu", "memory"]
      controlledValues: RequestsAndLimits